@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&family=Roboto:wght@400;600&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
    background: white !important;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    color: #000;
    padding-top: 0;
}