body {
    margin: 0;
    background-color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

@media screen and (max-width: 768px) {
    body {
      display: block;
      justify-content: initial;
      align-items: initial;
      min-height: auto;
      margin: 0;
      padding: 0;
    }
  }