.container {
  margin: 0 auto;
  padding: 16px;
  max-width: 400px;
  width: 100%;
  height: 700px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 12px;
}

.backButton {
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  background: none;
  border: none;
  color: #000000;
  font-weight: 700;
  margin-bottom: 1px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-left: -13px;
  margin-top: 15px;
}

.arrow {
  font-size: 1.5em; 
  color: #000000;
  margin-right: 8px; 
}

.imageContainer {
  display: flex;
  gap: 8px;
  overflow-x: auto;
  margin-bottom: 16px;
  margin-top: 16px;
}

.image {
  flex-shrink: 0;
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 8px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;  
  margin: 8px 0;
}


.description {
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  color: #000000;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

.viewMoreButton,
.viewLessButton {
  background: none;
  border: none;
  color: #007bff;
  font-weight: 600;
  cursor: pointer;
  margin-left: 0.5rem;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.viewMoreButton:hover,
.viewLessButton:hover {
  text-decoration: underline;
}

.shareReviewImageContainer {
  position: absolute;
  top: 2rem;
  right: 1rem;
  z-index: 10;
}