.formContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 80vh;
  background-color: white;
  padding: 0.5rem;
  margin-top: 0;
  flex-direction: column;
}

.backButton {
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  background: none;
  border: none;
  color: #000000;
  font-weight: 700;
  cursor: pointer;
  margin-left: -8px;
}

.arrow {
  font-size: 1.5em; 
  color: #000000;
  margin-right: 8px; 
}

.form {
  background-color: white;
  width: 100%;
  max-width: 40rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.formLabel {
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  margin: 4px;
  margin-top: 8px;
  font-weight: 600;
  color: black;
  font-size: 14px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding-left: -0.17px;
  margin-bottom: 0.25rem;
}

.formSelect {
  width: 60%;
  align-self: flex-start; 
  background-color: #F0F0F0;
  color: #000000; 
  appearance: auto;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 14px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.formSelect option {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  height: 21px;
  direction: rtl;
}

.formInput {
  width: 100%;
  align-self: flex-start;
  background-color: #F0F0F0;
  color: #000000;
  letter-spacing: -0.17px;
  padding: 0.5rem 1rem;
  border-radius: 11px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  text-align: left;
  transition: background-color 0.3s ease;
}

.formInput:focus {
  outline: none;
}

.formSelect:focus {
  outline: none;
}

.formTextarea {
  align-self: flex-start;
  padding: 0.5rem 0.75rem;
  background-color: #F0F0F0;
  color: #000000;
  border-radius: 11px;
  font-weight: 600;
  font-size: 0.875rem;
  resize: none;
  width: 350px;
  height: 200px;
}

.formTextarea:focus {
  outline: none;
  border-radius: 0;
}

.uploadButton {
  height: 40px;
  align-self: flex-start;
  padding: 0.5rem 0.75rem;
  text-align: left;
  background-color: #F0F0F0;
  color: #000000;
  border-radius: 11px;
  font-weight: 600;
  cursor: pointer;
  font-size: 0.875rem;
  display: flex;
  justify-content: center;
}


.hidden {
  display: none;
}

.radioGroup {
  display: flex;
  gap: 1.5rem;
}

.radioLabel {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;
  background-color: #f3f4f6;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  width: 100px;
  justify-content: flex-start;
}

.radioInput {
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
  margin-right: 0.5rem;
}

.radioLabel span {
  font-weight: 600;
  font-size: 0.875rem;
}

.submitButton {
  width: 100%;
  padding: 0.75rem;
  background-color: #019141;
  color: #FFFFFF;
  border: none;
  border-radius: 100px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-size: 1rem;
  margin-top: 8px;
  transition: background-color 0.3s ease;
}

.imagePreviews {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.imagePreviews > div {
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
}

.imagePreviews img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures image covers entire area while maintaining aspect ratio */
  position: absolute;
  top: 0;
  left: 0;
}