.container {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

/* Mobile-specific styles */
@media screen and (max-width: 768px) {
  .container {
    width: 100vw;
    overflow-x: hidden;
    padding: 20px 15px; /* Slightly reduced padding for mobile */
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.logo {
  color: #00A651;
  font-size: 28px;
}

.title {
  margin: 0;
  font-size: 22px;
  font-family: "Noto Sans", sans-serif;
  color: #019141;
  font-weight: 600;
  height: 21px;
  line-height: 1;
}

.sectionTitle {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
  margin-top: 32px;
  line-height: 24px;
}

.sectionTitleNoData {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 60px;
  margin-top: 40px;
  line-height: 24px;
}

.createButtonNoData {
  width: 100%;
  padding: 16px;
  background-color: #019141;
  color: #FFFFFF;
  border: none;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 600;
  margin: 55px 0 40px;
  margin-bottom: 1px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 166, 81, 0.1);
  font-family: 'Roboto', sans-serif;
}

.createButton {
  width: 100%;
  padding: 16px;
  background-color: #019141;
  color: #FFFFFF;
  border: none;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 600;
  margin: 20px 0 40px;
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 166, 81, 0.1);
  font-family: 'Roboto', sans-serif;
}

.reviewCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  border-bottom: 1px solid #E5E7EB;
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
  margin-bottom: 0;
}

.reviewCard:last-child {
  border-bottom: none;
}

.cardLeft {
  display: flex;
  gap: 12px;
  align-items: center;
}

.productImage {
  width: 48px;
  height: 48px;
  border-radius: 4.12px;
  object-fit: cover;
}

.reviewInfo {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.productName {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.stats {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  color: #666;
}

.rating {
  color: #FFB800;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 2px;
}

.rating span {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  width: 17px;
  height: 18px;
}

.reviewCount {
  color: #000000;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.date {
  font-size: 12px;
  color: #ABABAB;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.shareButton, .addReviewButton {
  padding: 8px 16px;
  height: 14px;
  background-color: transparent;
  color: #019141;
  border: none;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  font-weight: 600;
  text-transform: lowercase;
}

.shareButtonWrapper {
  position: relative;
}

.copiedMessage {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
}

.reviewButtonWrapper {
  position: relative;
  bottom: 0;
  right: 0;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.noData {
  color: grey;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 12px;
}